[submodule "wp-content/themes/wpimprov_vantage_child"]
	path = wp-content/themes/wpimprov_vantage_child
	url = git@github.com:vatoz/wpimprov_vantage_child.git
[submodule "wp-content/plugins/wpimprov"]
	path = wp-content/plugins/wpimprov
	url = git@github.com:vatoz/wpimprov.git
